<nav
	class="navbar bg-dark navbar-dark navbar-expand sticky-top"
	role="navigation"
>
	<a class="navbar-brand" href="#">
		<span class="fa fa-tree"></span>
	</a>
	<ul class="navbar-nav navbar-expand">
		<li class="nav-item active">
			<a href="#" class="nav-link" id="nav-index">Home</a>
		</li>
		<li class="nav-item active">
			<a href="#" class="nav-link" id="nav-about">About</a>
		</li>
		<li class="nav-item active">
			<a href="#" class="nav-link" id="nav-ContactUs">Contact Us</a>
		</li>
	</ul>
</nav>
