<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('partials/head') %>
		<title>Ori&Yigal</title>
	</head>

	<body>
		
		<header><%- include('partials/header') %></header>
		<main>
			<div class="container" id="app"></div>
		</main>
		<footer><%- include('partials/footer') %></footer>
		<%- include('partials/scripts') %>
		
	</body>
</html>
